You need to create an application that will make sure that I'm reminded of something at a specific time.  However, given the importance of the thing I need reminded, sometimes I need a little aggressive acceleration on reminding.  I'd like to be able to be reminded through whatever avenue I would like, whether it's text message, Apple Watch, Alexa. I would like to also offer, if I have other friends that I usually hang around with, say a girlfriend or something, that they can receive reminders if I really, really need to know.  The concept of escalating reminders, I want to be able to have it intelligently learn when I don't need a reminder. 

So for example, let's say in my case, I need to do Soberlink, which is to prove my sobriety. But I know that I don't have my kids for a week. I should be able to tell whatever device, like an Apple watch or something, that as a sort of snooze feature to say, "Hey, remind me I won't have my kids for a week, so start the reminders again next Friday." And it should automatically know. I would like the app also to be smart enough to be able to have a watcher in the email to know that if there's a particular event that happened, for example, I do what I need to do to satisfy my sobriety, it is smart enough to look in the email and know that it shouldn't have to trigger the reminder again. 
